@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #95e7fc;
}

.ventana-inicio{
    background-color: #1E88E5;
    height: 750px;
}

.ventana-inicio p{
    text-align: center;
    line-height: 700px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 200px;
}






